{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1 class="text-center" style="margin-top: 20px; margin-bottom: 40px;">Add Quantum Chemical Data Manually</h1>
  <form action="{{ url_for('add') }}" method="POST">
    <div class="mb-3">
      <label class="form-label">QC Name</label>
      <input class="form-control" name="qc_name" type="text" />
    </div>
    <div class="mb-3">
      <label class="form-label">HOMO</label>
      <input class="form-control" name="HOMO" type="text" />
    </div>
    <div class="mb-3">
      <label class="form-label">LUMO</label>
      <input class="form-control" name="LUMO" type="text" />
    </div>
    <div class="mb-3">
      <label class="form-label">Energy</label>
      <input class="form-control" name="Energy" type="text" />
    </div>
    <button type="submit" class="btn btn-primary">Add Data</button>
  </form>
</div>
{% endblock %}
