{% extends "base.html" %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-2"><!-- form/results will go here --></div>
  <div class="col-md-8">
    <h1 class="text-center" style="margin-top: 20px; margin-bottom: 40px;">Spectra</h1>
    <canvas id="myChart" width="800" height="400"></canvas>
  </div>
  <div class="col-md-2"></div>
</div>


<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [
        {% for dataset, datapoints in data.items(): %}
        {
      label: '{{ dataset }}',
      data: [
        {% for datapoint in datapoints %}
            {
      x: {{ datapoint["x"] }},
  y: { { datapoint["y"] } }
            },
  {% endfor %}
          ],
        },
  {% endfor %}
      ]
    },
  options: {
    scales: {
      x: {
        type: 'linear',
          position: 'bottom',
            title: {
          display: true,
            text: 'Wavenumber (cm-1)'
        },
        grid: {
          drawOnChartArea: true,
          },
      },
      y: {
        title: {
          display: true,
            text: 'IR Intensity (a.u.)'
        },
      },
    },
    elements: {
      point: {
        radius: 0
      }
    },
  },
  });
</script>



{% endblock %}