{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1 class="text-center" style="margin-top: 20px; margin-bottom: 40px;">Edit Data</h1>
  <form action="{{ url_for('edit.index') }}" method="POST">
    <input class="form-control" hidden="hidden" name="id" value="{{data.id}}" />
    <table class="table table-striped table-hover table-responsive text-center align-middle">
      <thead>
        <tr>
          <th scope="col">Parameter</th>
          <th scope="col">Current Value</th>
          <th scope="col">New Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Name</td>
          <td scope="row">{{data.qc_name}}</td>
          <td>
            <input class="form-control" name="qc_name" type="text" placeholder="New Value" />
          </td>
        </tr>
        <tr>
          <td scope="row">HOMO (eV)</td>
          <td scope="row">{{data.HOMO}}</td>
          <td>
            <input class="form-control" name="HOMO" type="text" placeholder="New Value" />
          </td>
        </tr>
        <tr>
          <td scope="row">LUMO (eV)</td>
          <td scope="row">{{data.LUMO}}</td>
          <td>
            <input class="form-control" name="LUMO" type="text" placeholder="New Value" />
          </td>
        </tr>
        <tr>
          <td scope="row">Eg (eV)</td>
          <td scope="row">{{data.Eg}}</td>
          <td scope="row"></td>
        </tr>
        <tr>
          <td scope="row">Energy (Hartree)</td>
          <td scope="row">{{data.Energy}}</td>
          <td>
            <input class="form-control" name="Energy" type="text" placeholder="New Value" />
          </td>
        </tr>
        <tr>
          <td scope="row">Dipole</td>
          <td scope="row">{{data.Dipole}}</td>
          <td>
            <input class="form-control" name="Dipole" type="text" placeholder="New Value" />
          </td>
        </tr>
        <tr>
          <td scope="row">Quadrupole</td>
          <td scope="row">{{data.Quadrupole}}</td>
          <td>
            <input class="form-control" name="Quadrupole" type="text" placeholder="New Value" />
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary w-100" type="submit">Update</button>
  </form>
</div>
{% endblock %}