{% extends "base.html" %}
{% block content %}

<div class="container justify-content-center">
    <div class="col-auto">
        <h1 class="text-center" style="margin-top: 20px; margin-bottom: 40px;">Quantum Chemical Data</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% if data == []: %}
        <p>No data available. Add data below.</p>
        {% else: %}
        <div class="alert alert-light text-center" role="alert">
            View this in a DataTable?
            <a type="button" class="btn btn-primary btn-sm mx-2" href="{{ url_for('dt.index') }}">View</a>
        </div>
        <table class="table table-striped table-hover table-responsive text-center align-middle">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">HOMO<br>(eV)</th>
                    <th scope="col">LUMO<br>(eV)</th>
                    <th scope="col">Eg<br>(eV)</th>
                    <th scope="col">Energy<br>(Hartree)</th>
                    <th scope="col">Dipole</th>
                    <th scope="col">Q<sub>&pi;</sub></th>
                    {% if current_user.is_authenticated %}
                    <th scope="col">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for molecule in data %}
                <tr>
                    <td scope="row">{{molecule.qc_name}}</td>
                    <td scope="row">{{molecule.HOMO}}</td>
                    <td scope="row">{{molecule.LUMO}}</td>
                    <td scope="row">{{molecule.Eg}}</td>
                    <td scope="row">{{molecule.Energy}}</td>
                    <td scope="row">{{molecule.Dipole}}</td>
                    <td scope="row">{{molecule.Quadrupole}}</td>
                    {% if logged_in %}
                    <td scope="row">
                        <a class="btn btn-primary" href="{{ url_for('edit.index', id=molecule.id) }}"
                            role="button">Edit</a>
                        <a class="btn btn-danger" href="{{ url_for('delete.index', id=molecule.id) }}"
                            role="button">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if current_user.is_authenticated: %}
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <a class="btn btn-secondary w-100" href="{{ url_for('upload.index') }}" role="button">Upload
                        File</a>
                </div>
                <!-- <div class="col">
                    <a class="btn btn-secondary w-100" href="{# {{ url_for('add') }} #}" role="button">Add Data Manually</a>
                </div> -->
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}